<ion-view view-title="{{ 'mm.login.credentials' | translate }}">
  <ion-content mm-state-class>
    <div class="list">
      <div class="item" style="text-align: center;">
        <img width="100px" height="100px" src="img/icon.png">
        <h3>Caribbean Small Ruminants Project</h3>
        <h5>An E-Learning Platform for Farmers in the Sheep and Goat Industry</h5>
      </div>
      <div class="item item-text-wrap">{{ 'mm.login.credentialsdescription' | translate }} <strong>{{siteurl}}</strong></div>
      <form>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{ 'mm.login.username' | translate }}</span>
          <input type="text" placeholder="{{ 'mm.login.username' | translate }}" ng-model="credentials.username" autocapitalize="off" autocorrect="off" mm-auto-focus ng-disabled="isBrowserSSO">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{ 'mm.login.password' | translate }}</span>
          <input type="password" placeholder="{{ 'mm.login.password' | translate }}" ng-model="credentials.password" ng-disabled="isBrowserSSO">
        </label>
        <div class="item">
          <button class="button button-block button-positive icon-left ion-log-in" ng-click="login()">{{ 'mm.login.loginbutton' | translate }}</button>
        </div>
        <div class="item">
          <button class="button button-block button-energized icon-left ion-person" ng-click="launchLogin()">
            <!-- Sign Up Language -->
            {{ 'mm.login.signup' | translate }}
          </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
